@import "../abstracts/variables";

.SVG{
    height: 50px;
    width: 50px;
    margin: 1.25rem 0px; //1.25rem 20px 0px
    @media screen and (max-width: 800px) {
        width: 50%;
        height: auto;
    }
}
