@import "./variables"; 

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: $bungee;
    // background-color: $dark-purple;
}

.flex{
    display: flex;
    &-j-c{
        justify-content: center;
    }
    &-a-c{
        align-items: center;
    }
    &-f-d-c{
        flex-direction: column;
    }
}

.background{
    width: 80%;
    position: absolute;
    right: 0px;
}

