// FONTS
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
$bungee: 'Bungee', cursive;

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
$kdam: 'Kdam Thmor Pro', sans-serif;


// COLORS

// Purple
$dark-purple: #4C3F91;
$purple: #9145B6;
$light-purple:#B958A5;
$pink:#FF5677;

// Blue
$dark-blue: #033FFF;
$blue: #4A9FF5;
$aqua:#5FF4EE;
$light-aqua:#C2FCF6;